# Flutter related files
.flutter/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.log
.dart_tool/
.idea/
.vscode/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
macos/Pods/
macos/Flutter/Flutter.framework/
macos/Flutter/engine/
macos/Flutter/ephemeral/
macos/ServiceDefinitions.json
macos/Runner.xcworkspace/
windows/ephemeral/
windows/flutter/GeneratedPluginRegistrant.*
windows/flutter/ephemeral/
web/.dart_tool/
web/flutter-wasm/
web/.flutter-wasm-cache/
linux/flutter/GeneratedPluginRegistrant.*
linux/flutter/ephemeral/
linux/.dart_tool/
linux/flutter/FlutterPluginRegistrant.*
assets/.DS_Store
.env

# Temporary system files
*.swp
*.lock
*.tmp
*.temp
*.DS_Store
*.pdb
*.seed
*.pid
*.dump

# IntelliJ IDE files
*.iml
.idea/
*.ipr
*.iws
